@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#bigDiv, #errorMsg, #bigShow, #errorFirst {
    display: none;
}